<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/mk/kursy/SeleniumJavaQA/SeleniumJavaQA/src/test/java/POM/LoginTest.java"><classes><class name="POM.LoginTest"><methods><include name="testLoginPage"/><include name="testLoginPageWithFactory"/></methods></class></classes></test></suite>